#spacefromtop {
    position: relative;
    margin-top: 16%;
}

/*btn-xlarge is de album button*/
.btn-xlarge {
    padding: 1.5% 2%;
    margin: 0.5%;
    margin-bottom: 2%;
    height: 9%;
    font-size: 140%; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.disableOpacity {
    opacity: 0.5;
}

@media (min-width: 768px) {
    #spacefromtop {
    position: relative;
    margin-top: 16%;
    }
}

@media (min-width: 900px){
    #spacefromtop {
    position: relative;
    margin-top: 8%;
    }
}

@media (min-width: 1200px) {
    #spacefromtop {
    position: relative;
    margin-top: 8%;
    }

    .verticalLine, visible-lg, hidden-xs, hidden-sm, hidden-md {
    border-left: solid rgba(0,0,0,0.2);
    padding-left: 5%;
    }
}


@media (min-width: 1700px) {
    #spacefromtop {
    position: relative;
    margin-top: 4%;
    }
}