#spacefromtop {
    position: relative;
    margin-top: 12%;
}

/*btn-xlarge is de album button, hoeft niet aangepast te worden vanwege bootstrap(grid system, columns)*/
.btn-xlarge {
    padding: 1.5% 2%;
    font-size: 100%; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

@media (min-width: 768px) {
    #spacefromtop {
    position: relative;
    margin-top: 10%;
    }
}

@media (min-width: 1200px) {
    #spacefromtop {
    position: relative;
    margin-top: 6%;
    }

    .verticalLine, visible-lg, hidden-xs, hidden-sm, hidden-md {
    border-left: solid rgba(0,0,0,0.2);
    padding-left: 5%;
    }
}


@media (min-width: 1800px) {
    #spacefromtop {
    position: relative;
    margin-top: 4%;
    }
}