<div id="spacefromtop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-lg-1"></div>
            <div class="col-xs-10 col-lg-8">
                <!--vanaf hier..........-->
                <button class="btn-primary btn-xlarge btn-block" *ngIf="!isClickedOost" (click)="oostenrijkAlbum()">OOSTENRIJK 2011</button>
                <button class="btn-primary btn-xlarge btn-block disableOpacity" *ngIf="disableIsHiddenOost" disabled>OOSTENRIJK 2011</button>
                <button class="btn-primary btn-xlarge btn-block" *ngIf="sluitIsHiddenOost" (click)="sluitOostenrijkAlbum()"><b>SLUIT:</b> OOSTENRIJK 2011</button>
                <div class="row">
                    <div class="col-xs-12 col-lg-12" id="picaOost" *ngIf="!removePicsOost">
                    </div>
                </div>
                <!--tot hier gebruiken voor nieuwe album-->
                <button class="btn-primary btn-xlarge btn-block" *ngIf="!isClickedWinter" (click)="wintersportAlbum()">WINTERSPORT 2015</button>
                <button class="btn-primary btn-xlarge btn-block disableOpacity" *ngIf="disableIsHiddenWinter" disabled>WINTERSPORT 2015</button>
                <button class="btn-primary btn-xlarge btn-block" *ngIf="sluitIsHiddenWinter" (click)="sluitWinterAlbum()"><b>SLUIT:</b> WINTERSPORT 2015</button>
                <div class="row">
                    <div class="col-xs-12 col-lg-12" id="picaWinter"  *ngIf="!removePicsWinter">
                    </div>
                </div>
                <button class="btn-primary btn-xlarge btn-block" *ngIf="!isClickedUsa" (click)="amerikaAlbum()">AMERIKA 2016</button>
                <button class="btn-primary btn-xlarge btn-block disableOpacity" *ngIf="disableIsHiddenUsa" disabled>AMERIKA 2016</button>
                <button class="btn-primary btn-xlarge btn-block" *ngIf="sluitIsHiddenUsa" (click)="sluitAmerikaAlbum()"><b>SLUIT:</b> AMERIKA 2016</button>
                <div class="row">
                    <div class="col-xs-12 col-lg-12" id="picaUsa" *ngIf="!removePicsUsa">
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-lg-3 hidden-xs hidden-sm hidden-md">
                <div class="verticalLine visible-lg hidden-xs hidden-sm hidden-md">
                    <sidebar #oost></sidebar>
                    <sidebar #winter></sidebar>
                    <sidebar #amerika></sidebar>
                </div>
            </div>
        </div>
    </div>
</div>

<modal></modal>
