<div *ngIf="isClickedOost" class="alert alert-info">
    <b>Highlights Oostenrijk 2011</b>
    <ul>
        <li>Eerste echte vakantie!</li>
        <li>Prachtig land!</li>
        <li>De trollengrot!</li>
        <li>Lekker eten!</li>
    </ul>
</div>

<div *ngIf="isClickedWinter" class="alert alert-info">
    <b>Highlights Wintersport 2015</b>
    <ul>
        <li>Skieen is erg leuk!</li>
        <li>Heel erg veel sneeuw!</li>
        <li>Gezellig met vrienden!</li>
        <li>Curry worst!</li>
    </ul>
</div>

<div *ngIf="isClickedUsa" class="alert alert-info">
    <b>Highlights Amerika 2016</b>
    <ul>
        <li>Amerika is zo groot!</li>
        <li>Jeffrie op 1 knie gegaan!</li>
        <li>Door een zandstorm gereden!</li>
        <li>Las Vegas baby!!</li>
    </ul>
</div>